section.home {
    padding-top: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    /* width: max-content;
    white-space: nowrap;  */
}

.titres {
    position:fixed;
    top: 2rem;;
    left: 1rem;
}

h2, h3, p {
    font-family: "Baskerville";
    user-select: none;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 28px;
    cursor: pointer;
    opacity: 1;
}

h3:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

h3.gone {
    opacity: 0;
}

p {
    font-size: 20px;
}

h2 > span:hover, span.selected  {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/* .contenu {
    padding-left: 2rem;

} */

.contenu img:hover {
    cursor:ne-resize;
}

.contenu img {
    width: auto;
    height: 200px;
    filter: grayscale(1);
}

.contenu img.selected {
    height: 400px;
    filter: none;
}

.socials video {
    height: 200px;
    width: 200px;
    filter: grayscale(1);
}

.newsletters video {
    filter: grayscale(1);
    height: 170px;
    cursor:ne-resize;
}

.newsletters video.selected {
    filter:none;
}

.socials video.selected {
    height: 400px;
    filter: none;
    width: 400px;
}

.socials {
    flex-wrap: wrap;
}

.contenu a {
    color: black;
}

.textes { 
    line-height: 1.5;
}

.langue {
    height: 3rem;
}