@font-face {
    font-family: "Baskerville";
    src: local("BBBBaskervvol-Regular"), url("./fonts/BBBBaskervvol-Book.otf")
}

html, body, #root {
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    margin: 0;
    /* background: url("./images/backgroundsite-pink.png"); */
    background: linear-gradient(to right, rgb(244, 243, 243) 0%, rgb(219, 219, 219) 100%);
}

#root {
    max-width: none;
    margin: 0;
    padding: 0;
}